---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section>
  <Wrapper
    variant="standard"
    class="flex flex-col h-[calc(100dvh-8rem)] justify-center"
  >
    <div class="max-w-4xl mt-auto">
      <Text
        tag="h1"
        variant="displayLG"
        class="font-serif font-light text-base-600"
        >Welcome to <span class="text-base-900"
          >Innovative Design Conversations</span
        >, where creativity meets engineering. Join us for insightful interviews
        and podcasts that explore the minds of design engineers —</Text
      >
    </div>
  </Wrapper>
</section>
