---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section>
  <Wrapper variant="standard" class="pt-24"
    >˙
    <div class="max-w-3xl">
      <Text
        tag="h1"
        variant="displayLG"
        class="font-serif font-light text-base-600"
        ><span class="text-base-900 italic">Designing the Future:</span> Exploring
        UI/UX and Web Development Through Innovation, Engineering, and User-Centered
        Experiences</Text
      >
    </div>
  </Wrapper>
</section>
