---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section>
  <Wrapper variant="standard" class="pt-24">
    <div class="max-w-4xl">
      <Text
        tag="h1"
        variant="displayMD"
        class="font-serif font-light text-base-600"
        ><span class="italic text-base-900"
          >Shaping the Future of UI/UX and Web Development:</span
        > Exploring Innovative Design, Advanced Engineering, and User-Centered Approaches
        for Transformative Digital Experiences.
      </Text>
    </div>
  </Wrapper>
</section>
