---
// Fundations
import BaseLayout from "./BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Props
const { frontmatter } = Astro.props;
---

<BaseLayout>
  <section>
    <Wrapper variant="standard">
      <Text
        tag="h1"
        variant="textXS"
        class="font-medium text-base-900 uppercase"
      >
        {frontmatter.page}
      </Text>
      <Wrapper variant="prose" class="py-12">
        <slot />
      </Wrapper>
    </Wrapper>
  </section>
</BaseLayout>
