---
// Assets
import Logo from "@/components/assets/Logo.astro";
// Fundations
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Icons
import Burger from "@/components/fundations/icons/Burger.astro";
import Search from "@/components/global/Search.astro";
import MegaMenu from "./MegaMenu.astro";
const primaryNavLinks = [
  { href: "/system/overview", link: "Overview" },
  { href: "/blog", link: "Magazine" },
  { href: "/podcast", link: "Podcast" },
  { href: "/about", link: "About" },
  { href: "/pricing", link: "Membership" },
];
---

<section id="navigation" class="z-10">
  <Wrapper variant="standard">
    <div class="pt-2">
      <div class="w-full grid grid-cols-3 gap-4 lg:gap-12 lg:h-5 items-center">
        <a href="/">
          <span class="sr-only">link to home</span>
          <Logo class="h-6" />
        </a>

        <div
          class="flex items-center w-full col-span-2 gap-2 lg:col-span-auto lg:col-start-3"
        >
          <Search />
          <nav class="hidden lg:flex items-center gap-2">
            {
              primaryNavLinks.map((link) => (
                <a
                  href={link.href}
                  class="uppercase text-base-900 hover:text-base-500 font-medium text-xs"
                >
                  {link.link}
                </a>
              ))
            }
          </nav>
          <a
            href="https://buy.polar.sh/polar_cl_U8Mtq7VFohIH4lm7cuCgtyfuB5I0aIhkb6WP0SZGSCA"
            class="uppercase text-base-900 hover:text-base-500 font-medium text-xs"
          >
            Buy
          </a>
          <button
            id="menubutton"
            type="button"
            aria-controls="menu"
            aria-expanded="false"
            aria-link="Toggle menu"
            class="text-base-900"
          >
            <Burger slot="icon" size="base" />
          </button>
        </div>
      </div>
      <MegaMenu />
    </div>
  </Wrapper>
</section>
