---
import Logo from '@/components/assets/Logo.astro';
import Wrapper from '@/components/fundations/containers/Wrapper.astro';
import Burger from '@/components/fundations/icons/Burger.astro';
import Search from '@/components/global/Search.astro';
import MegaMenu from './MegaMenu.astro';
const primaryNavLinks = [
  { href: '/about/', link: 'About' },
  { href: '/work/', link: 'Work' },
  { href: '/blog/', link: 'Blog' },
  { href: '/contact/', link: 'Contact' },
];
---

<section id="navigation" class="z-10">
  <Wrapper variant="standard">
    <div class="pt-2">
      <div class="w-full grid grid-cols-3 gap-4 lg:gap-12 lg:h-5 items-center">
        <a href="/">
          <span class="sr-only">link to home</span>
          <Logo class="h-6" />
        </a>

        <div class="flex items-center justify-end w-full col-span-2 gap-3 lg:col-span-auto lg:col-start-3">
          <Search />
          <nav class="hidden lg:flex items-center gap-3">
            {primaryNavLinks.map((link) => <a href={link.href} class="uppercase text-base-900 hover:text-base-500 font-medium text-xs">{link.link}</a>)}
          </nav>
          <button id="menubutton" type="button" aria-controls="menu" aria-expanded="false" aria-label="Toggle menu" class="text-base-900 lg:hidden">
            <Burger slot="icon" size="base" />
          </button>
        </div>
      </div>
      <MegaMenu links={primaryNavLinks} />
    </div>
  </Wrapper>
</section>
